.Menu {
    width: 150px;
    background: #38444c;
    position: fixed;
    height: 100%;
    border-right: 2px solid #697278;
}

.Menu .logo {
    background: #fa4c52;
    height: 30%;
}

.Menu .logo h2, .Menu .logo p {
    width: max-content;
    color: #f0f2f3;
    padding-bottom: 10px;
    margin: auto;
}

.Menu .logo .logoImg {
    width: 100px;
    margin: 20px 25px 5px;
}

.Menu .nav {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.Menu .nav nav {
    margin: auto 0;
}

.Menu .nav a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 22px;
    color: #fff;
    line-height: 5rem;
    border-bottom: 1px solid #697278;
    transition: color .3s,background-color .3s;
    font-family: 'PantonSemiBoldItalic';
}

.Menu .nav a:hover {
    background: #F2B705;
}

.Menu .nav a:first-child {
    border-top: 1px solid #697278;
}