.About {
    margin: 10px;
    display: grid;
    grid-template-columns: auto 300px;
}

.About .text {
    padding: 10px;
    border: 2px solid #697278;
    border-radius: 10px;
    margin-right: 20px;
    color: #fff;
}

.About .photo {
    padding: 10px;
    border: 2px solid #697278;
    border-radius: 10px;
}